<h1>Γειά σου! Ευχαριστούμε για την εγγραφή!</h1>

<p>
    Πήγαινε στην <a href="{{ path('app_login') }}">σελίδα σύνδεσης</a> <br><br>

    Επίσης μπορείς να συνδεθείς χρησιμοποιώντας τους παρακάτω κωδικούς! <br><br>

    Username: <strong>{{ username }}</strong>
    Password: <strong>{{ password }}</strong>
</p>

<p>
    Cheers!
</p>
