{% extends 'theme/base.back.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div>
    some content here and there and everywhere and anywhere
</div>
{% endblock %}
